<!DOCTYPE html>
<html>
    <title>
        About Us
    </title>
    <body>
        <section class="container mt-5">
            <h1 style="color: #ff7a8c; text-align: center;">About Us</h1>
            <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">We are passionate about food and sharing the joy of cooking with everyone. Our mission is to provide you with a platform where you can explore, share, and enjoy a diverse range of recipes from around the world. Whether you are a seasoned chef or a beginner, we believe everyone has something valuable to contribute to the culinary world, and we want to help you share your creations.

                Our website is built on the principles of community, simplicity, and accessibility. We provide an easy-to-use platform for home cooks, professional chefs, and food enthusiasts to submit their favorite recipes. Our goal is to bring together individuals who share a common love for cooking, creating an online space where everyone can learn from each other and discover new flavors and techniques.</p>
          </section>
          <p>
            <h4 style="color: #ff7a8c; text-align: center;">Meet our Team</h4>
            <p style="margin-left: 10%; margin-right: 10%; text-align: justify;">While Cooking Blog is a collaborative space where everyone can contribute, our core team of passionate foodies and developers work tirelessly behind the scenes to maintain and improve the platform.</p>
            <p style="margin-left: 10%; margin-right: 10%; text-align: justify;"><strong> Doe (Founder & Chef):</strong> John’s love for cooking began at a young age. After years of honing his culinary skills, he decided to share his passion with the world through this blog. He is responsible for curating content, writing recipes, and developing new features.</p>
            <p style="margin-left: 10%; margin-right: 10%; text-align: justify;"><strong>Jane Smith (Lead Developer):</strong> A seasoned software engineer, Jane is the technical genius behind the platform. With years of experience in web development, she built Cooking Blog using Node.js to create a smooth and responsive user experience.</p>
            <p style="margin-left: 10%; margin-right: 10%; text-align: justify;"><strong>Alice Brown (Content Manager):</strong> Alice ensures that our content is always fresh, exciting, and easy to follow. She works closely with recipe contributors and ensures each recipe meets the high standards of quality we strive for.</p>
            <p style="margin-left: 10%; margin-right: 10%; text-align: justify;"><strong>David Johnson (Community Manager):</strong> David oversees the user experience on the platform and ensures that our community remains vibrant and engaged. He is the go-to person for any questions or feedback.</p>

          </p>
    </body>
</html>